<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Glass Background</string>
			<key>Key</key>
			<string>glassBackground</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Timer Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Background Task Interval</string>
			<key>Key</key>
			<string>backgroundTaskInterval</string>
			<key>DefaultValue</key>
			<string>300</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Background Grace Period</string>
			<key>Key</key>
			<string>backgroundGracePeriod</string>
			<key>DefaultValue</key>
			<string>7200</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Lock Grace Period</string>
			<key>Key</key>
			<string>lockGracePeriod</string>
			<key>DefaultValue</key>
			<string>60</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Max Suspending Clock Drift</string>
			<key>Key</key>
			<string>maxSuspendingClockDrift</string>
			<key>DefaultValue</key>
			<string>10</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
	</array>
</dict>
</plist>
