<footer role="contentinfo" class="site-footer pb-2 mt-4">
  <div class="container">
    <p class="d-inline-block mr-2 mb-1">
      <img src="assets/images/aware_icon.png" alt="Aware icon" width="100" height="100" class="va-middle">
    </p>
    <div class="d-inline-block">
      <p class="text-small text-muted va-middle mb-0">Copyright &copy; 2016 <a href="http://joshpeek.com">Joshua&nbsp;Peek</a>, <a href="http://patrickmarsceill.com">Patrick&nbsp;Marsceill</a>. All&nbsp;rights&nbsp;reserved.<br>General inquiries &amp; support: <a href="mailto:{{ site.email | escape }}">{{ site.email | escape }}</a></p>
    </div>
  </div>
</footer>

<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}" async></script>
