<footer role="contentinfo" class="site-footer">
  <div class="container">
    <p class="text-small text-muted">Copyright &copy; 2016 <a href="http://joshpeek.com">Joshua Peek</a>, <a href="http://patrickmarsceill.com">Patrick Marsceill</a>. All rights reserved.</p>
    <p class="text-small text-muted">General inquiries &amp; support: <a href="mailto:{{ site.email | escape }}">{{ site.email | escape }}</a></p>
  </div>
</footer>

<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}" async></script>

<script>
  var GoogleAnalyticsObject = 'ga';
  var ga = function() {
    ga.q.push(arguments);
  };
  ga.q = [];
  ga.l = (new Date()).getTime();

  ga('create', 'UA-74056549-2', 'auto');
  ga('send', 'pageview');
</script>
<script src="https://www.google-analytics.com/analytics.js" async>
