---
---

@charset "utf-8";

//
// Import partials
//

// Dependancies
@import "normalize";
@import "variables";
@import "mixins";

// Layout / Grid
@import "layout";

// Base additional resets
@import "base";

// Type
@import "type";
// @import "syntax-highlighting";
// @import "code";

// Modules
@import "header";
@import "buttons";
@import "monitor";


.va-middle {
  vertical-align: middle !important;
}

.mr-2 {
  margin-right: $spacer !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mt-2 {
  margin-top: $spacer !important;
}

.mt-3 {
  margin-top: $spacer * 2 !important;
}

.mt-4 {
  margin-top: $spacer * 3 !important;
}

.ml--1 {
  margin-left: $spacer * -0.5 !important;
}

.pb-2 {
  padding-bottom: $spacer !important;
}

.fl-left {
  float: left !important;
}

.d-inline-block {
  display: inline-block !important;
}
