// Basics
* {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  font: #{$body-font-size}/1.5 $body-font;
}

// Rest top margins
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
dl,
button,
input,
textarea,
table {
  margin-top: 0;
}

// Flexible images
img {
  max-width: 100%;
  height: auto;
}

// Default link styles
a {
  color: $red;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: $red-dk;
    text-decoration: underline;
  }

  &:not([class]) {
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    background-image: linear-gradient(rgba($red-lt, 0.25) 0%, $red-lt 100%);
    background-repeat: repeat-x;
    background-position: 0 95%;
    background-size: 1px 1px;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      background-image: linear-gradient(rgba($red, 0.25) 0%, $red 100%);
    }
  }
}
