// Clearfix
//
// Clears floats via mixin (avoid using as a class).

@mixin clearfix {
  &::before {
    display: table;
    content: "";
  }

  &::after {
    display: table;
    clear: both;
    content: "";
  }
}
